@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);


/*Variables*/
$font-color: #1d1d1b;
$width-main: 850px;

header{
	width: $width-main;
	height: 235px;
	margin: 25px auto 0;
}
body{
	font:{
		family: 'Open Sans',Helvetica,Arial, sans-serif; 
		size:14px;
		color: $font-color;
	}
}
a{
	color: $font-color;
}

/*NAV*/

nav{
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
	}
}
.scrolling-ground{
	margin-left: 305px;
}
#logo-left{
	margin-right: 55px;
}
#logo-pack{
	margin-bottom: 65px;
}
#search{
	margin-bottom: 15px;
	input{
		width: 100%;
		position: absolute;
		margin-top: -5px;
	}
	label{
		float: left;
	}
	div{
		overflow: hidden;
		padding: 0 5px;
		position: relative;
		height: 30px;
	}
}
#subscribe{
	input{
		position: absolute;

	}
	label{
		float: left;
	}
	div{
		overflow: hidden;
		padding: 0 5px;
		position: relative;
		height: 50px;
		padding-top: 14px;
	}

}

input{
	border: 0;
	border-bottom: 1px solid;

}

/*SECTION*/
section{
	width: $width-main;
	margin: 0 auto;
		&:last-child{
		margin-bottom: 100px;
	}

}

h1{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 45px;
	margin: 0 0 30px 0;
}
h3{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
}

.table{
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 50px;

	&:after{
		content:"";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 50%;
		border-left: 2px solid $font-color;
	}


}
.table-cell{
	display: table-cell;
	width: 50%;
	border-bottom: 2px solid $font-color;
	&:nth-child(2n){
		padding-left:25px;
	}
	&:nth-child(2n+1){
		padding-right:25px;
	}

}
.half{
	position: relative;
	width: 70%;
	height: 250px;
	img{
		display: block;
		z-index: 0;
	}
	h3{
		margin-top: 0px;
		height: 45px;

		}
	&.float-right{
		width: 30%;
		text-align: right;
	}
	p:last-child{
	position: absolute;
	bottom: 0;	}
}


/*animation*/

.half{
	& img{
		position: absolute;
		top: 0;
		display: none;
	}
	&:hover img{
		display: block;
		z-index: 1;
	}
	&:hover p{
		z-index: 0;
	}
}


/*Footer*/
footer{
	width: $width-main;
	height: 60px;
	background-color: white;
	position: fixed;
	bottom: 0;

	#footer-wrap{
		padding-top: 10px;
	}
}



.float-left{
	float: left;
}

.float-right{
	float: right;
}